<html>
<head>
    <style>
        html {
            margin: 20px;
            width: 576px; /* Sets the width of the HTML element */
            height: 1224px; /* Sets the height of the HTML element */
            border: 2px dashed blue; /* For visualization - debug only */
            overflow: auto; /* Important if content will exceed this */
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 28px;
            color: #000;
            margin: 40px;
        }
        p {
            line-height: 1.6;
        }
        .center {
            text-align: center;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
        .line {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="center" style="font-weight: bold">FOR DEPOSIT ONLY</div>
    <div class="center">{{opco}}Mississippi Power Company</div>
    <div class="line">
        <span class="left">Office: 1111</span>
        <span class="right">1/31/25 2:26 PM</span>
    </div>
    <div class="line">
        <span class="left">Acct: 218414xxx</span>
        <span class="right">Tender Ctrl: 1276xx</span>
    </div>
    <div class="line">
        <span class="left">Tran: 29</span>
        <span class="right">Pmt Event Id: 0970xxx</span>
    </div>
    <br><div class="line">
        <span class="left">Check</span>
        <span class="right">$144.60</span>
    </div>
</body>
</html>