:root {
    --section-bottom-margin: 18px;
    --normal-font-size: 12px;
    --large-font-size: 24px;
}
body {
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--normal-font-size);
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
/*I    white-space: nowrap */
}
.receipt-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff;
}
.receipt-details {
    --todo: true;
}
.center {
    text-align: center;
}
.opco-header {
    margin-bottom: var(--section-bottom);
}
div.opco-header img.opco-logo {
    width: 100%;
}
div.opco-header div.opco-phone {
    font-size: var(--large-font-size); 
    text-align: center;
}
.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
/* padding: 8px */
        display: flex;
    margin-bottom: 5px;
}
.ph-column {
    --todo: "Base styling for columns, if any needed in the future"
}
.ph-column-left {
    flex: 1 1 auto;
    min-width: 0;
}
.ph-column-right {
    flex: none;
    text-align: right;
    white-space: nowrap;
}
.ph-item {
    white-space: nowrap;
    margin-bottom: 5px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 2px;
}
.header-row .left,
.header-row .right {
    text-align: left;
}
.header-label {
    font-weight: bold;
}
.bold-separator {
    border-top: 3px solid #222;
    margin: 14px 0 10px 0;
}
.thin-separator {
    border-top: 1px solid #bbb;
    margin: 10px 0 10px 0;
}
.receipt-block {
    margin-top: var(--section-bottom-margin);
    margin-bottom: 9px;
}
.receipt-number-row {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-end;
}
.receipt-number-suffix {
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
}
.office-details {
    margin-bottom: 0;
}
.office-phone {
    line-height: 1.1;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-bottom: 2px;
}
.amount-row {
    margin-top: 8px;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
}
.receipt-lineitem {
    --todo: true
}
.receipt-totals {
    --todo: true    
}
.amount-label {
    margin-left: 60px;
}
.amount-value {
    font-weight: bold;
    min-width: 110px;
    text-align: right;
    font-variant-numeric: tabular-nums;
    margin-left: 16px;
}
.transaction-section {
    margin-top: var(--section-bottom-margin);
}
.transaction-total-row {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-left: 36px;
}
.transaction-label {
    text-align: right;
    min-width: 180px;
    margin-right: 12px;
}
.transaction-amount {
    text-align: right;
    min-width: 110px;
    font-variant-numeric: tabular-nums;
}
.footer {
    margin-top: var(--section-bottom-margin);;
    text-align: center;
}
.account {
    --todo: true;
}
.account-number {
    --todo: true;
}
.account-holder {
    margin-left: 36px;
}
.acccount-name {
    --todo: true;
}
