<div class="opco-header">
  <img class="opco-logo"src="https://www.alabamapower.com/content/dam/alabama-power/images/icons/logos/logo-apc-color.png"/>
  {{#if opco-phone}}
  <div class="header-phone">{{opco-phone}}</div>
  {{/if}}
</div> <!-- opco-header" -->