<div class="opco-header">
<!--
    {{#switch opco-id}}
    {{#case 'apc'}}
-->
  <img class="opco-logo"src="https://www.alabamapower.com/content/dam/alabama-power/images/icons/logos/logo-apc-color.png"/>
<!--
    {{/case}}
    {{#case 'gpc'}}
      <img class="opco-logo" src="https://www.georgiapower.com/content/dam/georgia-power/site-icons/georgia-power-h-rgb.png/">
    {{/case}}
    {{#case 'mpc'}}
      <img class="opco-logo" src="https://www.mississippipower.com/content/dam/mississippi-power/global/MS_power_h_rgb.jpg">
    {{/case}}
    {{#default}}
-->
  <!-- What should we print if no opco specified in receipt data? Or, should we just print that as an error. -->
<!--
      <img class="opco-logo" src="https://www.southerncompany.com/content/dam/southerncompany/logos/southern_company_logo_dark_text_horizontal.svg">
    {{/default}}
  {{/switch}}
-->

  {{#if opco-phone}}
  <div class="header-phone">{{opco-phone}}</div>
  {{/if}}
</div>